<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <!-- Console Appender -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout>
                <pattern>
                    %d{dd.MM.yyyy HH:mm:ss} [%highlight{%level}{FATAL=red bright, ERROR=red, WARN=yellow, INFO=green, DEBUG=cyan}] - %logger{1} - %thread - %msg%n
                </pattern>
            </PatternLayout>
        </Console>
    </Appenders>

    <Loggers>
        <!-- Root Logger -->
        <Root level="debug">
            <AppenderRef ref="Console" />
        </Root>
    </Loggers>
</Configuration>